# Build results
[Bb]in/
[Oo]bj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# Visual Studio files
ipch/
*.aps
*.cachefile
*.VC.db
*.opendb
*.opensdf
*.user
*.sdf
*.suo
*.csproj

# Temporary OS files
.DS_Store
Thumbs.db
